/* Quizgame */

@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@1&family=Cormorant+Garamond:wght@500&family=Laila&family=Source+Serif+Pro:ital,wght@1,300&family=Tiro+Tamil&family=Yanone+Kaffeesatz:wght@300&display=swap');

*{
    box-sizing: border-box;
  }
  
  body{
      background-color: #b8c6db;
      background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7f7 100%);
      font-family: 'Times New Roman', Times, serif;
      justify-content:center;
      align-items:center;
      height:100vh;
      display:flex;
      margin:0;
      overflow: hidden;
      
    }
   
    .quiz-container{
      background-color:rgb(229, 249, 251);
      border-radius: 10px;
      overflow:hidden;
      width:900px;
      box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
      
    }
    
    .quiz-header{
      padding: 4rem;
    }
    
    h2{
      
      margin: 0%;
      padding: 1rem;
      text-align: center;
     
    }
    
    ul{
      list-style-type: none;
      padding: 0;
    }
    ul li{
      font-size: 1.2rem;
      margin: 1rem 0;
    }
    ul li label{
      cursor: pointer;
    }
    button{

      padding:1.3rem;
      background-color:rgb(111, 192, 243);
      width: 100%;
      display: block;
      font-size: 1.1rem;
      color:white;
      font-size: 1.1rem;
      border: none;
      font-family: inherit;
      cursor: pointer;
      font-size: 1.1rem;
   
     
    }
    button:hover{
      background-color: #04adc4;
    }
    button:focus{
      outline: none;
      background-color: #44b927;
    }
  
  