/* Quizgame */

@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@1&family=Cormorant+Garamond:wght@500&family=Laila&family=Source+Serif+Pro:ital,wght@1,300&family=Tiro+Tamil&family=Yanone+Kaffeesatz:wght@300&display=swap');

*{
    box-sizing:border-box
  }
  
  body{
      background-color:rgb(252, 238, 133);
      background-image:url(../images/pngtree-comic-speech-bubbles-with-text-quiz-png-image_4729130.png);
      background-position: center;
      width: 95%;
      height:100vh;
      font-family: 'Times New Roman', Times, serif;
      justify-content:center;
      align-items:center;
      display:flex;
      margin:0;
      overflow: hidden;
      
    }
   
    .quiz-container{
      background-color:rgb(252, 238, 133);
      background-position:center;
      justify-content: center;
      align-items: center;
      border-radius: 100px;
      overflow:hidden;
      width:700px;
      border: 2px solid rgb(23, 245, 245);
      
    }
    
    .quiz-header{
      padding: 4rem;
    }
    
    h2{
      
      margin: 0%;
      padding: 1rem;
      text-align: center;
     
    }
    
    ul{
      list-style-type: none;
      padding: 0;
    }
    ul li{
      font-size: 1.2rem;
      margin: 1rem 0;
    }
    ul li label{
      cursor: pointer;
    }
    button{

      padding:1.3rem;
      background-color:rgb(23, 245, 245);
      width: 100%;
      display: block;
      font-size: 1.1rem;
      color:white;
      font-size: 1.1rem;
      border: none;
      font-family: inherit;
      cursor: pointer;
      font-size: 1.1rem;
   
     
    }
    button:hover{
      background-color: #04adc4;
    }
    button:focus{
      outline: none;
      background-color: #04adc4;
    }
  
  